.App {
  text-align: center;
  direction: rtl;
  color: rgb(255, 255, 255);
  background-color: #0088d1;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  }
.tableCenter{
    margin-left: auto;
    margin-right: auto;
  }
  
